<div class="wrap">
    <div class="left">
        <div class="mb10">Content:</div>
        <textarea class="content mb10"></textarea>
        <button class="commit">提交</button>
    </div><div class="right">
        <div class="mb10">Summary:</div>
        <div class="summary">
            
        </div>
    </div>
</div>

<div class="users"></div>

<div class="login-layer">
    <div class="content">
        <label for="">Your name</label>
        <input type="text">
        <div class="btn">确认</div>
    </div>
</div>